
@import "common.css";

html {
  color: #262101;
  background: #F2EFE9;
}
body{
  font-family: 'Candara','함초롬바탕';
}
a {
  color: #262101;
}
/* ----------------------------header */
header {
  display: inline-block;
  /* background: pink; */
  height: 95vh;
}

.Logo_div a img {
  width: 100px;
  height: auto;
  margin: 40px;
}

.header_menu ul li {
  margin: 10px;
  margin-left: 40px;
}
.header_menu ul li a {
  font-size: 14px;
}


/* -----------------------section */


section {
  display: inline-block;
  text-align: center;
}

.about_content {
  width: 500px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.about_content p {
  line-height: 30px;
  font-size: 14px;
  font-weight: lighter;
  vertical-align: middle;
}

.about_content p span {
  font-size: 18px;
}

/* -----------------------footer */

footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  margin-bottom: 20px;
  background: #F2EFE9;
}
